/*
    ==========
    || Preset
    ==========
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #2D2D2D;
}


/*
    ========
    || Mine
    ========
*/
a {
  color: #3399FF;
}

.hMargin {
  margin-top: 3%;
  margin-bottom: 1%;
}

h1 {
  margin-bottom: 3%;
}

.center {
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: baseline;
  gap: 10px;

}

.box {
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  /* Ensures boxes grow/shrink evenly if needed */
  max-width: 45%;
  /* Limit the width for the first two boxes */
  text-align: center;
  /* Centers the content of each box */
  margin: 10px;
  /* Optional: Adds space around the boxes */
}

.strikeBuilder {
  background-color: #4A4A4A;
}

.gardenGenie {
  background-color: #1F4834;
}

.businessReporting {
  background-color: #8C7042;
  flex: 0 0 80%;
  /* Forces this div to take up the full row */
  max-width: none;
  /* Removes the width restriction */
  text-align: center;
  /* Center the text in this div */
}



.darkTheme {
  color: white;
}

.introDiv {
  margin: 0;
  display: inline-block;
  height: 60vh;
  width: 100%;
  background: linear-gradient(60deg, #CDF5CD, #A6ECF5, #C1C2F4, #F56667);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  padding-top: 10%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.content {
  margin-top: 5%;
}

.bumper {
  height: 600px;
}