.card {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.flexItem {
    width: 100%;
    order: 2;
}

.cardHeader {
    text-align: center;
}

.cardImage {
    max-width: 100%;
    height: auto;
    margin-left: 70%
}

.cardText {
    order: 1;
    display: inline;
}

/*

// || Interesting stuff



background: linear-gradient(to bottom, red 0%, red 10%, blue 10%, blue 15%);
*/