.card {
    display: inline;
    border-top: 10%;
    border-radius: 15px;
    background: grey;
    color: black;
    width: 400px;
    height: 10%;
}


/*

// || Interesting stuff



background: linear-gradient(to bottom, red 0%, red 10%, blue 10%, blue 15%);
*/