.card {
    margin: 0 15%;
    position: relative;
    background-color: #98e1bc40;
    justify-content: center;
    margin-top: 5%;
    border-radius: 40px;
    width: 70%;
    height: 400px;
}

.cardHeader {
    position: relative;
    top: 5.5%;
    font-size: 2em;
    text-align: center;
}

.text-ImgBox {
    position: relative;
    margin-top: 50px;
}

.cardText {
    display: inline-block;
    text-align: left;
    position: relative;
    bottom: 100px;
    margin-right: 5%;
    width: 400px;
}

.cardImage {
    position: relative;
    display: inline;
    width: auto;
    height: auto;

    border-radius: 5%;
    transition: transform 0.5s ease;
}

.cardImage:hover {
    transform: scale(1.05)
}
/*

// || Interesting stuff



background: linear-gradient(to bottom, red 0%, red 10%, blue 10%, blue 15%);
*/