/* || ELEMENT SELECTORS */




/* || CLASS SELECTORS */
.h3 {
  font-weight: 400;
}

.text {
  text-align: center;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade.fade-out {
  opacity: 1;
}


/* || ID SELECTORS */
#sup {
  color: red;
}

#main {
  margin: 5% 10%;
}